<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="/indexFiles/font-awesome.min.css" rel="stylesheet">
    <link href="/indexFiles/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/styleCaseStudies.css" />
    <link rel="stylesheet" href="/stylesheets/styleIndex.css" />


    <link href="/indexFiles/settings.css" rel="stylesheet">
    <link href="/indexFiles/layers.css" rel="stylesheet">
    <link href="/indexFiles/navigation.css" rel="stylesheet">
    <link href="/indexFiles/owl.carousel.min.css" rel="stylesheet">

    <link href="/indexFiles/style.css" rel="stylesheet">
    <link href="/indexFiles/responsive.css" rel="stylesheet">
    <link href="/indexFiles/magnific-popup.css" rel="stylesheet">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
    <header class="main_menu_area">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="font-size: 30px;font-weight: 800;"><img width="50px" height="50px"
                    src="/images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            invest
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">INVEST</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Angel Investors</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/coming-soon" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='news'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Live Deals</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Events</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/how-it-works" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='glasses'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">How it Works</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Hows SIGNS work</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            resources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">RESOURSES</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Case Studies</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/coming-soon" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='news'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Press</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">News Feeds</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/how-it-works" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='glasses'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">How it Works</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Hows SIGNS work</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Company
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">COMPANY</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/about-us" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon type='solid' name='leaf'></box-icon>
                                                </div>
                                                <div>
                                                    <h6  style="margin-bottom: 0rem;">About Us</h6>
                                                    <p style="font-weight: 100; font-size: small;margin: 0;text-transform: capitalize;">Success
                                                        Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/coming-soon" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='phone-call'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Contact Us</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Case Studies</h6>
                                                    <p style="font-weight: 100; font-size: small;text-transform: capitalize;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                     {{#if status}}
                    <a href="/logout"><button type="button" class="btn btn-primary mr-1" id="Sign-In-btn">Logout</button></a>
                    {{else}}
                    <a href="/sign-in"><button type="button" class="btn btn-primary mr-1" id="Sign-In-btn">SIGN
                            IN</button></a>
                    <a href="/register-startup"><button type="button" class="btn btn-primary" id="Register-Startup-btn">Register
                            Startup</button></a>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>
    <section class="fluid-container" style="margin-top: 140px;">
        <div class="container no-image-wrapper text-center">
            <div class="col-12 hero-copy-column   ">
                <div class="hero-eyebrow-container">
                    <h5 class="hero-eyebrow h5-regular-700">
                        How to invest
                    </h5>
                </div>
                <div class="hero-heading-container">
                    <h2 class="hero-noimage-heading h1-regular-900">
                        Growth-obsessed startups <br> raise on SIGNS
                    </h2>
                </div>
                <div class="hero-rich-text-container mt-4">
                    <p id="under-eyebrow"><span>Meet a few of the 250+ companies that have fundraised from our network
                            of investors.</span>
                    </p>
                </div>
                <div class="hero-cta-container justify-content-center">
                </div>
            </div>
        </div>
    </section>
    <section class="" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 p-5">
                    <div class="heading-container switchback-heading-container h1-heading">
                        <h1 class="switchback-heading">OYO Rooms</h1>
                    </div>
                    <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                        <p><span>Ritesh Agarwal, the founder of the homegrown unicorn Oyo, has established itself as one
                                of the largest hotels and hospitality chains worldwide, with operations in over 800
                                cities across 80 countries, including India, the US, China, Europe, China, and more.
                                Airbnb was the biggest source of inspiration for Ritesh, who started on his journey of
                                being one of the best entrepreneur success stories as a teenager.</span></p>
                        <ul>
                            <li>Launch: 2013<br><br></li>
                            <li>Founders: Ritesh Agarwal<br><br></li>
                            <li>Industry: Hospitality</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 p-5">
                    <div class="outerBody"
                        style="width: 100%;height: 340px; background-image: url('/images/dummy.jpg');background-repeat: no-repeat;background-size: cover;border-radius: 10px; ">
                        <div id="overlay"
                            style="background-color: rgb(0 0 0 / 55%); width: 100%; height: 100%;border-radius: 10px;padding: 27px;">
                            <div><img src="/images/oyoLogo.png" width="100px" height="52px" alt=""></div>
                            <div style="position: relative;top: 60%; color:white">
                                <p style="margin-bottom: 0rem">“Hire people not for today but for 2-3 years from now,
                                    and let them grow with the company.”</p>
                                <h6 style="margin-left: 232px;"> - Ritesh Agarwal</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-5 p-5">
                    <div class="outerBody"
                        style="width: 100%;height: 340px; background-image: url('/images/flipkart.jpg');background-repeat: no-repeat;background-size: cover;border-radius: 10px; ">
                        <div id="overlay"
                            style="background-color: rgb(0 0 0 / 55%); width: 100%; height: 100%;border-radius: 10px;padding: 27px;">
                            <div><img src="/images/flipkartLogo.png" width="135px" height="52px" alt=""></div>
                            <div style="position: relative;top: 47%; color:white">
                                <p style="margin-bottom: 0rem">“It is extremely important to build something that a 100
                                    people absolutely love using rather than make something that a 1,000 people would
                                    just, kind of, like.”</p>
                                <h6 style="margin-left: 150px;"> - Sachin Bansal & Binny Bansal</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 p-5">
                    <div class="eyebrow-container switchback-eyebrow-container">
                        <h5 class="switchback-eyebrow h4-regular-900">Estimated Evaluation: $24 billion</h5>
                    </div>
                    <div class="heading-container switchback-heading-container h1-heading">
                        <h1 class="switchback-heading">FLIPKART</h1>
                    </div>
                    <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                        <p><span>The Walmart acquired ecommerce company Flipkart stands as the largest ecommerce
                                platform in India. Today, the ecommerce platform has expanded its business horizons by
                                foraying into the video streaming industry with Flipkart Originals.</span></p>
                        <ul>
                            <li>Fact: The first customer of Flipkart was a young engineer from Mahbubnagar, Telangana.
                            </li>
                            <li>Launch: 2007<br><br></li>
                            <li>Founders: Sachin Bansal & Binny Bansal<br><br></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7 p-5">
                    <div class="eyebrow-container switchback-eyebrow-container">
                        <h5 class="switchback-eyebrow h4-regular-900">Estimated Evaluation: $750 million</h5>
                    </div>
                    <div class="heading-container switchback-heading-container h1-heading">
                        <h1 class="switchback-heading">Nykaa</h1>
                    </div>
                    <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                        <p><span>The IIM-A alumnus Falguni Nayar left her 9 to 5 job at Kotak at 50 to pursue her dream of establishing Nykaa. The platform was launched to develop a one-stop platform of beauty products in India, making it the first beauty-exclusive ecommerce platform.</span></p>
                        <ul>
                            <li>Fact: The online beauty & fashion platform opened its first offline store at T3 Terminal, IGI Airport, in November 2015.</li>
                            <li>Launch: 2012<br><br></li>
                            <li>Founder: Falguni Nayar<br><br></li>
                            <li>Industry: Ecommerce- Fashion & Beauty</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 p-5">
                    <div class="outerBody"
                        style="width: 100%;height: 340px; background-image: url('/images/nyka.jpg');background-repeat: no-repeat;background-size: cover;border-radius: 10px; ">
                        <div id="overlay"
                            style="background-color: rgb(0 0 0 / 55%); width: 100%; height: 100%;border-radius: 10px;padding: 27px;">
                            <div><img src="/images/nykaLogo.png" width="125px" height="52px" alt=""></div>
                            <div style="position: relative;top: 60%; color:white">
                                <p style="margin-bottom: 0rem">"I want to stand for women who want to be beautiful for themselves and not for any men or other women"</p>
                                <h6 style="margin-left: 232px;"> - Falguni Nayar</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 p-5">
                    <div class="outerBody"
                        style="width: 100%;height: 340px; background-image: url('/images/unacademy.jpg');background-repeat: no-repeat;background-size: cover;border-radius: 10px; ">
                        <div id="overlay"
                            style="background-color: rgb(0 0 0 / 55%); width: 100%; height: 100%;border-radius: 10px;padding: 27px;">
                            <div><img src="/images/unacademyLogo.png" width="90px" height="80px" alt=""></div>
                            <div style="position: relative;top: 47%; color:white">
                                <p style="margin-bottom: 0rem">“Travel only if it is absolutely needed. Meetings that save travel cost and that can happen on Zoom, should happen on Zoom.”</p>
                                <h6 style="margin-left: 230px;"> -  Gaurav Munjal</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 p-5">
                    <div class="eyebrow-container switchback-eyebrow-container">
                        <h5 class="switchback-eyebrow h4-regular-900">Estimated Valuation: $510 Million</h5>
                    </div>
                    <div class="heading-container switchback-heading-container h1-heading">
                        <h1 class="switchback-heading">Unacademy</h1>
                    </div>
                    <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                        <p><span>Unacademy is a digital site that provides material for big competitive exams and delivers brief tutorials in videos on various topics that can be viewed free of charge. It enables prospective students to promote self-learning better through startup stories.</span></p>
                        <ul>
                            <li>Fact: The first customer of Flipkart was a young engineer from Mahbubnagar, Telangana.
                            </li>
                            <li>Launch: 2015<br><br></li>
                            <li>Founders: Roman Saini, Gaurav Munjal, and Hemesh Singh<br><br></li>
                            <li>Industry: Education<br><br></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footr_area">
        <div class="footer_copyright">
            <div class="container">
                <div class="float-sm-left text-white">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | SIGNS
                    </h5>
                </div>
                <div class="float-sm-right">
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="/indexFiles/jquery-3.2.1.min.js"></script>
    <script src="/indexFiles/popper.min.js"></script>
    <script src="/indexFiles/bootstrap.min.js"></script>
    <script src="/indexFiles/jquery.themepunch.tools.min.js"></script>
    <script src="/indexFiles/jquery.themepunch.revolution.min.js"></script>
    <script src="/indexFiles/revolution.extension.actions.min.js"></script>
    <script src="/indexFiles/revolution.extension.video.min.js"></script>
    <script src="/indexFiles/revolution.extension.slideanims.min.js"></script>
    <script src="/indexFiles/revolution.extension.layeranimation.min.js"></script>
    <script src="/indexFiles/revolution.extension.navigation.min.js"></script>
    <script src="/indexFiles/revolution.extension.slideanims.min.js"></script>x
    <script src="/indexFiles/jquery.waypoints.min.js"></script>
    <script src="/indexFiles/jquery.counterup.min.js"></script>
    <script src="/indexFiles/apear.js"></script>
    <script src="/indexFiles/countto.js"></script>
    <script src="/indexFiles/owl.carousel.min.js"></script>
    <script src="/indexFiles/jquery.magnific-popup.min.js"></script>
    <script src="/indexFiles/smoothscroll.js"></script>

    <script src="/indexFiles/theme.js"></script>
</body>

</html>