<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="/indexFiles/font-awesome.min.css" rel="stylesheet">
    <link href="/indexFiles/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/styleIndex.css" />


    <link href="/indexFiles/settings.css" rel="stylesheet">
    <link href="/indexFiles/layers.css" rel="stylesheet">
    <link href="/indexFiles/navigation.css" rel="stylesheet">
    <link href="/indexFiles/owl.carousel.min.css" rel="stylesheet">

    <link href="/indexFiles/style.css" rel="stylesheet">
    <link href="/indexFiles/responsive.css" rel="stylesheet">
    <link href="/indexFiles/magnific-popup.css" rel="stylesheet">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="main_menu_area">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="font-size: 30px;font-weight: 800;"><img width="50px" height="50px"
                    src="/images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            invest
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">INVEST</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>Angel Investors</h6>
                                                    <p style="font-weight: 100; font-size: small;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/coming-soon" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='news'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>Live Deals</h6>
                                                    <p style="font-weight: 100; font-size: small;">Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>Events</h6>
                                                    <p style="font-weight: 100; font-size: small;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/how-it-works" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='glasses'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>How it Works</h6>
                                                    <p style="font-weight: 100; font-size: small;">Hows SIGNS work</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            resources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">RESOURSES</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/case-studies" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>Case Studies</h6>
                                                    <p style="font-weight: 100; font-size: small;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/coming-soon" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='news'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>Press</h6>
                                                    <p style="font-weight: 100; font-size: small;">Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>News Feeds</h6>
                                                    <p style="font-weight: 100; font-size: small;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/how-it-works" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='glasses'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>How it Works</h6>
                                                    <p style="font-weight: 100; font-size: small;">Hows SIGNS work</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Company
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">COMPANY</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/about-us" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon type='solid' name='leaf'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin: 0;">About Us</h6>
                                                    <p style="font-weight: 100; font-size: small;margin: 0;">Success
                                                        Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/coming-soon" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='phone-call'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>Contact Us</h6>
                                                    <p style="font-weight: 100; font-size: small;">Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    {{#if status}}
                    <a href="/logout"><button type="button" class="btn btn-primary mr-1" id="Sign-In-btn">Logout</button></a>
                    {{else}}
                    <a href="/sign-in"><button type="button" class="btn btn-primary mr-1" id="Sign-In-btn">SIGN
                            IN</button></a>
                    <a href="/register-startup"><button type="button" class="btn btn-primary" id="Register-Startup-btn">Register
                            Startup</button></a>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>
    <section class="banner_area">
        <div class="container">
            <div class="banner_inner_text">
                <h2>Coming Soon..</h2>
            </div>
        </div>
    </section>
    
    
    <script src="/indexFiles/jquery-3.2.1.min.js"></script>
    <script src="/indexFiles/popper.min.js"></script>
    <script src="/indexFiles/bootstrap.min.js"></script>
    <script src="/indexFiles/jquery.themepunch.tools.min.js"></script>
    <script src="/indexFiles/jquery.themepunch.revolution.min.js"></script>
    <script src="/indexFiles/revolution.extension.actions.min.js"></script>
    <script src="/indexFiles/revolution.extension.video.min.js"></script>
    <script src="/indexFiles/revolution.extension.slideanims.min.js"></script>
    <script src="/indexFiles/revolution.extension.layeranimation.min.js"></script>
    <script src="/indexFiles/revolution.extension.navigation.min.js"></script>
    <script src="/indexFiles/revolution.extension.slideanims.min.js"></script>x
    <script src="/indexFiles/jquery.waypoints.min.js"></script>
    <script src="/indexFiles/jquery.counterup.min.js"></script>
    <script src="/indexFiles/apear.js"></script>
    <script src="/indexFiles/countto.js"></script>
    <script src="/indexFiles/owl.carousel.min.js"></script>
    <script src="/indexFiles/jquery.magnific-popup.min.js"></script>
    <script src="/indexFiles/smoothscroll.js"></script>

    <script src="/indexFiles/theme.js"></script>
</body>

</html>