<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="/indexFiles/font-awesome.min.css" rel="stylesheet">
    <link href="/indexFiles/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/styleCaseStudies.css" />
    <link rel="stylesheet" href="/stylesheets/styleIndex.css" />


    <link href="/indexFiles/settings.css" rel="stylesheet">
    <link href="/indexFiles/layers.css" rel="stylesheet">
    <link href="/indexFiles/navigation.css" rel="stylesheet">
    <link href="/indexFiles/owl.carousel.min.css" rel="stylesheet">

    <link href="/indexFiles/style.css" rel="stylesheet">
    <link href="/indexFiles/responsive.css" rel="stylesheet">
    <link href="/indexFiles/magnific-popup.css" rel="stylesheet">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
    <header class="main_menu_area">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="font-size: 30px;font-weight: 800;"><img width="50px" height="50px"
                    src="/images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            invest
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">INVEST</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Angel Investors</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='news'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Live Deals</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Events</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='glasses'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">How it Works</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Hows SIGNS work</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            resources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">RESOURSES</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Case Studies</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='news'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Press</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">News Feeds</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='glasses'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">How it Works</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Hows SIGNS work</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Company
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">COMPANY</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/about-us" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon type='solid' name='leaf'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">About Us</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;margin: 0;text-transform: capitalize;">
                                                        Success
                                                        Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='phone-call'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Contact Us</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='book-bookmark'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">Case Studies</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="" class="navbar-a" style=" text-decoration: none;">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='glasses'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin-bottom: 0rem;">How it Works</h6>
                                                    <p
                                                        style="font-weight: 100; font-size: small;text-transform: capitalize;">
                                                        Hows SIGNS work</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    {{#if status}}
                    <a href="/logout"><button type="button" class="btn btn-primary mr-1"
                            id="Sign-In-btn">Logout</button></a>
                    {{else}}
                    <a href="/sign-in"><button type="button" class="btn btn-primary mr-1" id="Sign-In-btn">SIGN
                            IN</button></a>
                    <a href=""><button type="button" class="btn btn-primary" id="Register-Startup-btn">Register
                            Startup</button></a>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>
    <section class="fluid-container" style="margin-top: 140px;">
        <div class="container no-image-wrapper text-center">
            <div class="col-12 hero-copy-column   ">
                <div class="hero-eyebrow-container">
                    <h5 class="hero-eyebrow h5-regular-700">
                        How to invest
                    </h5>
                </div>
                <div class="hero-heading-container">
                    <h2 class="hero-noimage-heading h1-regular-900">
                        Growth-obsessed startups <br> raise on SIGNS
                    </h2>
                </div>
                <div class="hero-rich-text-container mt-4">
                    <p id="under-eyebrow"><span>Meet a few of the 250+ companies that have fundraised from our network
                            of investors.</span>
                    </p>
                </div>
                <div class="hero-cta-container justify-content-center">
                </div>
            </div>
        </div>
    </section>
    <section class="" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 p-5">
                    <div class="heading-container switchback-heading-container h1-heading">
                        <small style="font-weight: 500;">STEP 1</small>
                        <h2 class="switchback-heading" style="font-weight: 800;">Sign up & create your account</h2>
                    </div>
                    <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                        <p style="letter-spacing: 1px;"><span>Getting started is as easy as entering your name and email
                                address, then verifying your identity on the platform. <br> <br>

                                As a registered broker-dealer, SIGNS is required to make sure investments are a good fit
                                for our customers' portfolios, which means we need to do a bit of due diligence. Learn
                                more about our investor suitability process, verifying your identity and how we secure
                                sensitive information.</span></p>

                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="/images/step1.webp" height="520px" alt="">
                </div>
            </div>


            <div class="row">
                <div class="col-lg-5">
                    <img src="/images/step2.webp" height="520px" alt="">
                </div>
                <div class="col-lg-7 p-5">
                    <div class="heading-container switchback-heading-container h1-heading">
                        <small style="font-weight: 500;">STEP 2</small>
                        <h1 class="switchback-heading" style="font-weight: 800;">Verify your investment qualifications</h1>
                    </div>
                    <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                        <p style="letter-spacing: 1px;"><span>While you do not need to be an Accredited Investor to invest through SeedInvest, we’re
                                required to verify your accreditation status. It also helps us customize your deal flow. <br><br>
                                Once the verification is complete, you can unlock access to vetted startups and start
                                making investments online.</span></p>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7 p-5">
                    <div class="heading-container switchback-heading-container h1-heading">
                        <small style="font-weight: 500;">STEP 3</small>
                        <h1 class="switchback-heading" style="font-weight: 800;">Start browsing vetted deals</h1>
                    </div>
                    <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                        <p style="letter-spacing: 1px;"><span>Explore a broad assortment of vetted investment opportunities featured on the offerings
                                <page class="br"><br></page> Once you find a company or deal that interests you, you can learn more by
                                exploring the company’s profile or following their updates to stay in the loop.</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="/images/step3.webp" height="520px" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <img src="/images/step4.webp" height="400px" alt="">
                </div>
                <div class="col-lg-7 p-5">
                    <div class="heading-container switchback-heading-container h1-heading">
                        <small style="font-weight: 500;">STEP 4</small>
                        <h1 class="switchback-heading" style="font-weight: 800;">Do your homework</h1>
                    </div>
                    <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                        <p style="letter-spacing: 1px;"><span>Now that you’ve taken a look around, it’s time to dig deeper. Investing in startups is
                                inherently risky, so it’s important for you to do your own independent due diligence to
                                mitigate those <risks class="br"><br></risks>

                                Take a closer look at the companies you're interested in. Dive into due diligence
                                materials uploaded to the data room, attend webinars, and ask questions.</span></p>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7 p-5">
                    <div class="heading-container switchback-heading-container h1-heading">
                        <small style="font-weight: 500;">STEP 5</small>
                        <h1 class="switchback-heading" style="font-weight: 800;">Complete your investment</h1>
                    </div>
                    <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                        <p style="letter-spacing: 1px;"><span>By this point you’re ready to invest. Just click the "INVEST" button on the startup's
                                profile page and follow the steps to complete your investment. <br><br> You can invest as an
                                individual or through an entity (such as LLCs or Trusts).

                                Learn more about how to invest and the closing process in our FAQs.</span></p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="/images/step5.webp" height="500px" alt="">
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <img src="/images/step6.webp" height="520px" alt="">
                    </div>
                    <div class="col-lg-7 p-5">
                        <div class="heading-container switchback-heading-container h1-heading">
                            <small style="font-weight: 500;">STEP 6</small>
                            <h1 class="switchback-heading" style="font-weight: 800;">Manage your account</h1>
                        </div>
                        <div class="subheading-container switchback-subheading-container rich-text-300 case-studies">
                            <p style="letter-spacing: 1px;"><span>Making your first investment is just the beginning – now you can start building a
                                    portfolio of private company investments on SeedInvest. <br><br>

                                    You can view all your investments on your Portfolio page, as well as access your
                                    final investment documents. Learn more.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footr_area">
        <div class="footer_copyright">
            <div class="container">
                <div class="float-sm-left text-white">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | SIGNS
                    </h5>
                </div>
                <div class="float-sm-right">
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="/indexFiles/jquery-3.2.1.min.js"></script>
    <script src="/indexFiles/popper.min.js"></script>
    <script src="/indexFiles/bootstrap.min.js"></script>
    <script src="/indexFiles/jquery.themepunch.tools.min.js"></script>
    <script src="/indexFiles/jquery.themepunch.revolution.min.js"></script>
    <script src="/indexFiles/revolution.extension.actions.min.js"></script>
    <script src="/indexFiles/revolution.extension.video.min.js"></script>
    <script src="/indexFiles/revolution.extension.slideanims.min.js"></script>
    <script src="/indexFiles/revolution.extension.layeranimation.min.js"></script>
    <script src="/indexFiles/revolution.extension.navigation.min.js"></script>
    <script src="/indexFiles/revolution.extension.slideanims.min.js"></script>x
    <script src="/indexFiles/jquery.waypoints.min.js"></script>
    <script src="/indexFiles/jquery.counterup.min.js"></script>
    <script src="/indexFiles/apear.js"></script>
    <script src="/indexFiles/countto.js"></script>
    <script src="/indexFiles/owl.carousel.min.js"></script>
    <script src="/indexFiles/jquery.magnific-popup.min.js"></script>
    <script src="/indexFiles/smoothscroll.js"></script>

    <script src="/indexFiles/theme.js"></script>
</body>

</html>