<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="/indexFiles/font-awesome.min.css" rel="stylesheet">
    <link href="/indexFiles/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/styleIndex.css" />


    <link href="/indexFiles/settings.css" rel="stylesheet">
    <link href="/indexFiles/layers.css" rel="stylesheet">
    <link href="/indexFiles/navigation.css" rel="stylesheet">
    <link href="/indexFiles/owl.carousel.min.css" rel="stylesheet">

    <link href="/indexFiles/style.css" rel="stylesheet">
    <link href="/indexFiles/responsive.css" rel="stylesheet">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
    <header class="main_menu_area">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="font-size: 30px;font-weight: 800;"><img width="50px" height="50px"
                    src="/images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            invest
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="mb-2">INVEST</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon"  class="navbar-a">
                                        <div class="p-3 dropdown-navbar-content">
                                            <div>
                                                <box-icon name='book-bookmark'></box-icon>
                                            </div>
                                            <div>
                                                <h6>Angel Investors</h6>
                                                <p style="font-weight: 100; font-size: small;">Success Stories</p>
                                            </div>
                                        </div>
                                        </a>
                                        <a href="/coming-soon"  class="navbar-a">
                                        <div class="p-3 dropdown-navbar-content">
                                            <div>
                                                <box-icon name='news'></box-icon>
                                            </div>
                                            <div>
                                                <h6>Live Deals</h6>
                                                <p style="font-weight: 100; font-size: small;">Company updates</p>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon"  class="navbar-a">
                                        <div class="p-3 dropdown-navbar-content">
                                            <div>
                                                <box-icon name='book-bookmark'></box-icon>
                                            </div>
                                            <div>
                                                <h6>Events</h6>
                                                <p style="font-weight: 100; font-size: small;">Success Stories</p>
                                            </div>
                                        </div>
                                        </a>
                                        <a href="/how-it-works"  class="navbar-a">
                                        <div class="p-3 dropdown-navbar-content">
                                            <div>
                                                <box-icon name='glasses'></box-icon>
                                            </div>
                                            <div>
                                                <h6>How it Works</h6>
                                                <p style="font-weight: 100; font-size: small;">Hows SIGNS work</p>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            resources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">RESOURSES</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/case-studies"  class="navbar-a">
                                        <div class="p-3 dropdown-navbar-content">
                                            <div>
                                                <box-icon name='book-bookmark'></box-icon>
                                            </div>
                                            <div>
                                                <h6>Case Studies</h6>
                                                <p style="font-weight: 100; font-size: small;">Success Stories</p>
                                            </div>
                                        </div>
                                        </a>
                                        <a href="/coming-soon"  class="navbar-a">
                                        <div class="p-3 dropdown-navbar-content">
                                            <div>
                                                <box-icon name='news'></box-icon>
                                            </div>
                                            <div>
                                                <h6>Press</h6>
                                                <p style="font-weight: 100; font-size: small;">Company updates</p>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/coming-soon"  class="navbar-a">
                                        <div class="p-3 dropdown-navbar-content">
                                            <div>
                                                <box-icon name='book-bookmark'></box-icon>
                                            </div>
                                            <div>
                                                <h6>News Feeds</h6>
                                                <p style="font-weight: 100; font-size: small;">Success Stories</p>
                                            </div>
                                        </div>
                                        </a>
                                        <a href="/how-it-works"  class="navbar-a">
                                        <div class="p-3 dropdown-navbar-content">
                                            <div>
                                                <box-icon name='glasses'></box-icon>
                                            </div>
                                            <div>
                                                <h6>How it Works</h6>
                                                <p style="font-weight: 100; font-size: small;">Hows SIGNS work</p>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown submenu navbar-custom-hover">
                        <a class="nav-link dropdown-toggle navbarCompany" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Company
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div>
                                <div class="pl-4" style="border-bottom: 1px solid; border-color: rgb(207, 219, 230);"
                                    style="">
                                    <h6 style="letter-spacing: 2px;" class="m-2">COMPANY</h6>
                                </div>
                                <div class="p-4" style="">
                                    <div class="m-1" style="display: flex; justify-content: space-around;">
                                        <a href="/about-us" class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon type='solid' name='leaf'></box-icon>
                                                </div>
                                                <div>
                                                    <h6 style="margin: 0;">About Us</h6>
                                                    <p style="font-weight: 100; font-size: small;margin: 0;">Success Stories</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/coming-soon"  class="navbar-a">
                                            <div class="p-3 dropdown-navbar-content">
                                                <div>
                                                    <box-icon name='phone-call'></box-icon>
                                                </div>
                                                <div>
                                                    <h6>Contact Us</h6>
                                                    <p style="font-weight: 100; font-size: small;">Company updates</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <a href="/sign-in"><button type="button" 
                        class="btn btn-primary mr-1" id="Sign-In-btn">SIGN IN</button></a>
                    <a href="/register-startup"><button type="button" class="btn btn-primary" id="Register-Startup-btn">Register Startup</button></a>
                </ul>
            </div>
        </nav>
    </header>

    <section class="main_slider_area" style="min-height: 600px;">
        <div id="main_slider" class="rev_slider" data-version="5.3.1.6" style="top:110px">
            <div class="row">
                <div class="col-md-5 text-center" style="display: grid;align-items:center;">
                    <div>
                        <h1 style="font-size: 100px; letter-spacing: 5px;">S.I.G.N.S</h1>
                        <div style="font-size: 18px;position: relative;top: -22px;">Startup . Investment . Guidance . Networking . Scaling</div>
                        <div style="font-size: 32px;" class="txt mt-3 text-changing-pre">The Resource we</div>
                        <div class="row" style="margin-left: 26px;">
                            <div style="font-size: 32px;" class="col-auto mt-2 text-center text-changing-pre ml-4">
                                Provide</div>
                            <div style="font-size: 35px; color: #5c04e0;font-weight: 700; "
                                class="col-auto text mt-2 text-changing-pre"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <img width="700px" height="485px" id="homePageDesign" src="/images/homePageDesign.png" alt="">
                </div>
            </div>

        </div>
        </div>
        </div>
    </section>
    <section class="feature_area" style="background-color: white;">
        <div class="container">
            <div class="c_title">
                <img src="/images/img/icon/title-icon.png" alt="">
                <h6>Discover the features</h6>
                <h2>ALL IN ONE</h2>
            </div>
            <div class="row feature_inner">
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="/images/img/icon/f-icon-1.png" alt="">
                        </div>
                        <h4>Private Investments</h4>
                        <p>A chance to diversify your portfolio and be a part of the future </p>
                        <a class="more_btn" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="/images/img/icon/f-icon-2.png" alt="">
                        </div>
                        <h4>Fundrasing</h4>
                        <p>We will help you seek the investment you need</p>
                        <a class="more_btn" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="/images/img/icon/f-icon-3.png" alt="">
                        </div>
                        <h4>Social Networking</h4>
                        <p>The only stop you need to get Guidance, Networking and Mentorship</p>
                        <a class="more_btn" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team_people_area" style="background-color: white;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="team_people_text">
                        <div class="l_title">
                            <img src="/images/img/icon/title-icon.png" alt="">
                            <h6>Discover the features</h6>
                            <h2>Your destiny awaits you</h2>
                        </div>
                        <p>SIGNS  will serve as a medium for you to invest in early-stage startups you love because everyone should be able to invest in the next big thing. SIGNS is an all-in-one PLATFORM which provides an ecosystem for budding entrepreneurs to grow, ideate, seek guidance and successfully launch their startups.</p>
                        <ul>
                            <li><a href="#">Startup</a></li>
                            <li><a href="#">Investment</a></li>
                            <li><a href="#">Guidance</a></li>
                            <li><a href="#">Networking</a></li>
                            <li><a href="#">Scaling</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="team_img_inner">
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <div class="team_img_item">
                                    <img src="/images/img/team/people/people-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-6">
                                <div class="team_img_item">
                                    <img src="/images/img/team/people/people-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-6">
                                <div class="team_img_item">
                                    <img src="/images/img/team/people/people-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-6">
                                <div class="team_img_item">
                                    <img src="/images/img/team/people/people-4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="world_map_area p_100" style="background-color: white;">
        <div class="container">
            <div class="world_map_inner">
                <img class="img-fluid" src="/images/img/world-map.png" alt="">
            </div>
        </div>
    </section>

    <footer class="footr_area">
        <div class="footer_copyright">
            <div class="container">
                <div class="float-sm-left">
                    <h5>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | SIGNS
                    </h5>
                </div>
                <div class="float-sm-right">
                    <ul>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="/indexFiles/jquery-3.2.1.min.js"></script>
    <script src="/indexFiles/popper.min.js"></script>
    <script src="/indexFiles/bootstrap.min.js"></script>
    <script src="/indexFiles/jquery.themepunch.tools.min.js"></script>
    <script src="/indexFiles/jquery.themepunch.revolution.min.js"></script>
    <script src="/indexFiles/revolution.extension.actions.min.js"></script>
    <script src="/indexFiles/revolution.extension.video.min.js"></script>
    <script src="/indexFiles/revolution.extension.slideanims.min.js"></script>
    <script src="/indexFiles/revolution.extension.layeranimation.min.js"></script>
    <script src="/indexFiles/revolution.extension.navigation.min.js"></script>
    <script src="/indexFiles/revolution.extension.slideanims.min.js"></script>x
    <script src="/indexFiles/jquery.waypoints.min.js"></script>
    <script src="/indexFiles/jquery.counterup.min.js"></script>
    <script src="/indexFiles/apear.js"></script>
    <script src="/indexFiles/countto.js"></script>
    <script src="/indexFiles/owl.carousel.min.js"></script>
    <script src="/indexFiles/jquery.magnific-popup.min.js"></script>
    <script src="/indexFiles/smoothscroll.js"></script>

    <script>
        // TextScramble
        // ——————————————————————————————————————————————————

        class TextScramble {
            constructor(el) {
                this.el = el
                this.chars = '!<>-\\/[]{}—=+*^?#___'
                this.update = this.update.bind(this)
            }
            setText(newText) {
                const oldText = this.el.innerText
                const length = Math.max(oldText.length, newText.length)
                const promise = new Promise((resolve) => this.resolve = resolve)
                this.queue = []
                for (let i = 0; i < length; i++) {
                    const from = oldText[i] || ''
                    const to = newText[i] || ''
                    const start = Math.floor(Math.random() * 40)
                    const end = start + Math.floor(Math.random() * 40)
                    this.queue.push({ from, to, start, end })
                }
                cancelAnimationFrame(this.frameRequest)
                this.frame = 0
                this.update()
                return promise
            }
            update() {
                let output = ''
                let complete = 0
                for (let i = 0, n = this.queue.length; i < n; i++) {
                    let { from, to, start, end, char } = this.queue[i]
                    if (this.frame >= end) {
                        complete++
                        output += to
                    } else if (this.frame >= start) {
                        if (!char || Math.random() < 0.28) {
                            char = this.randomChar()
                            this.queue[i].char = char
                        }
                        output += `<span class="dud">${char}</span>`
                    } else {
                        output += from
                    }
                }
                this.el.innerHTML = output
                if (complete === this.queue.length) {
                    this.resolve()
                } else {
                    this.frameRequest = requestAnimationFrame(this.update)
                    this.frame++
                }
            }
            randomChar() {
                return this.chars[Math.floor(Math.random() * this.chars.length)]
            }
        }

        // ——————————————————————————————————————————————————
        // Example
        // ——————————————————————————————————————————————————

        const phrases = [
            'Guidance',
            'Networking',
            'Incubation',
            'Investment'
        ]

        const el = document.querySelector('.text')
        const fx = new TextScramble(el)

        let counter = 0
        const next = () => {
            fx.setText(phrases[counter]).then(() => {
                setTimeout(next, 800)
            })
            counter = (counter + 1) % phrases.length
        }

        next()
    </script>

    <script src="/indexFiles/theme.js"></script>
</body>

</html>