<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/stylenewUser.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<body style="background-color:#F0F2F5;">
    <input style="display: none;" id="nonPurpose" value="{{userExist}}"></input>
    <header class="text-center" id="newUserHeader">
        <div>
            <img src="https://vit.ac.in/files/gravitas19/images/vit_white.png" id="newUserHeaderLogo" alt="">
        </div>
        <div class="topright">
            <a href="/" style="text-decoration: none; color:rgb(120, 255, 248);font-size:25px;">
                Sign In
            </a>
        </div>
    </header>

    <section>
        <div class="row text-center col-md-12 p-2">
            <h1 id="registerLabel" class="">Register</h1>
        </div>
    </section>

    <section class="row" style="display: flex; justify-content:center;">
        <div class="newUserForm m-3 p-2  col-md-8 col-lg-6 col-sm-10 col-10">
            <form action="/newUser" method="post">
                <div class="row m-3 ">
                    <div class="col-md-6">
                        <label for="idFacultyId" class="m-1 inputLabel">Faculty ID</label>
                        <input type="text" class="form-control" name="facultyId" id="idFacultyId" placeholder=""
                            required="required" onkeyup="this.value = this.value.toUpperCase()">
                    </div>
                    <div class="col-md-6">
                        <label for="idname" class="m-1 inputLabel">Name</label>
                        <input type="text" class="form-control" name="facultyName" id="idname" placeholder=""
                            required="required">
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col">
                        <label for="idPassword" class="m-1 inputLabel">Password</label>
                        <input type="password" class="form-control" name="password" id="idPassword" placeholder=""
                            required="required">
                    </div>
                    <div class="col">
                        <label for="idconfirmPassword" class="m-1 inputLabel">Confirm Password</label>
                        <input type="password" class="form-control" id="idconfirmPassword" placeholder=""
                            required="required">
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-md-12">
                        <label for="idEmail" class="m-1 inputLabel">VIT Mail ID</label>
                        <input type="email" name="email" class="form-control" id="idEmail" required="required">
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="idPhoneNumber" class="m-1 inputLabel">Phone Number</label>
                        <input type="number" name="phoneNumber" class="form-control" id="idPhoneNumber"
                            required="required">
                    </div>
                </div>
                <div class="row m-3 pt-2">
                    <select class="custom-select" id="iduserType" name="accountType" required>
                        <option selected>User type....</option>
                        <!--<option value="1">Pre Production</option>
                        <option value="2">Post Production</option>-->
                        <option value="3">Faculty</option>
                        <!--<option value="4">LMS</option>
                        <option value="5">Coordinator</option>-->
                    </select>
                </div>

                <div class="col-md-12 text-center mb-3">
                    <button type="submit" class="btn text-white" id="submitButtonnewUserForm">Sign Up</button>
                </div>
            </form>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('form').submit(function (ev) {
            ev.preventDefault();
            let password = document.getElementById('idPassword').value
            let confirmPassword = document.getElementById('idconfirmPassword').value
            if (password == confirmPassword) {} 
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Password and Confirm Password are not same',
                    showConfirmButton: false,
                    timer: 2000
                })
                return
            }
            let number = document.getElementById("idPhoneNumber").value
            if(number.length != 10){
                Swal.fire({
                    icon: 'error',
                    title: 'Phone Number not valid',
                    showConfirmButton: false,
                    timer: 2000
                })
            }
            else{
                $(this).unbind('submit').submit()
            }

        })

        window.onload = function showLoggedIn() {
            showError = document.getElementById("nonPurpose").value
            console.log(showError)
            if (showError == "1") {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 4000,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'error',
                    title: 'User Already Exist'
                })
            }

        }
    </script>
</body>

</html>