<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styleDetailReportView.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="overlay" onclick="off()"></div>
    <header class="text-center" id="preProductionHomeHeader">
        <div class="">
            <img src="https://vit.ac.in/files/gravitas19/images/vit_white.png" id="preProductionHomeLogo" alt="">
        </div>
        <div class="topright">
            <a href="" style="text-decoration: none; color:#fff">
                <img src="https://cdn-icons-png.flaticon.com/128/3237/3237472.png" width="40" height="40" alt="">
                {{user.facultyName}}
            </a>
        </div>
    </header>
    <div class="containerMain">
        <a href="#" class="toggleBox">
            <span class="icon"></span>
        </a>
        <ul class="navItems">
            <li>
                <a href="/admin-home">
                    <i class="fa fa-home" style="--i:1"></i>
                    <span style="--g:1">home</span>
                </a>
            </li>
            <li>
                <a href="/course-add-form">
                    <i class="fa fa-user" style="--i:2"></i>
                    <span style="--g:2">Add course</span>
                </a>
            </li>
            <li>
                <a href="/reports-view">
                    <i class="fa fa-folder" style="--i:3"></i>
                    <span style="--g:3">reports</span>
                </a>
            </li>
            <!--<li>
                <a href="/admin-confirmations">
                    <i class="fa-solid fa-file-circle-check" style="--i:4"></i>  
                    <span style="--g:4">Confirmations</span>
                </a>
            </li>-->
            <li>
                <a href="/admin-shedule-view">
                    <i class="fa-solid fa-calendar-days" style="--i:5"></i>
                    <span style="--g:5">shedule</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="fa fa-globe" style="--i:5"></i>
                    <span style="--g:6">logout</span>
                </a>
            </li>
        </ul>
    </div>

    <!--<section id="menuSection" class="container" style="background-color: rgb(226 226 226);border-radius: 1rem;">
        <div class="row p-2" style="display: flex;justify-content: space-evenly;">
            <div class="col-auto m-1">
                <button type="button" class="btn btn-primary" onclick="courseDetails()">Course Details</button>
            </div>
            <div class="col-auto m-1">
                <button type="button" class="btn btn-primary" onclick="generateCoursePlan()">Course Plan</button>
            </div>
            <div class="col-auto m-1">
                <button type="button" class="btn btn-primary" onclick="generatePreFormDetails()">Pre Forms</button>
            </div>
            <div class="col-auto m-1">
                <button type="button" class="btn btn-primary" onclick="generatePostFormDetails()">Post Forms</button>
            </div>
            <div class="col-auto m-1">
                <button type="button" class="btn btn-primary" onclick="generateDeniedDetails()">Status Denied</button>
            </div>
        </div>
    </section>-->

    <section id="tableSection" class="table-responsive-lg p-4 container">

    </section>
    <section class="text-center mt-5 hide" id="addMessage">
        <span style="font-size: 20px;">No Data available..</span>
    </section>

    <input type="hidden" value="{{id}}" id="courseId">

    <script>
        var toggleClick = document.querySelector(".toggleBox");
        var containerMain = document.querySelector(".containerMain");
        var overlayScreen = document.querySelector(".overlay");

        toggleClick.addEventListener('click', () => {
            toggleClick.classList.toggle('active');
            overlayScreen.classList.toggle('active');
            containerMain.classList.toggle('active');
        })

        function off() {
            toggleClick.classList.toggle('active');
            overlayScreen.classList.toggle('active');
            containerMain.classList.toggle('active');
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>